---
layout: default
title: Doctora Paola Manco | Cirugía Plástica Certificada
description: Soy la doctora cirujana Paola Manco. Soy la especialista en la cirugía facial y corporal que estás buscando. Escríbeme y comencemos el cambio que estás deseando.
---
<section class="home_principales wrapper">
  <h2><span style="color:var(--acento)">Los tratamientos quirúrgicos más solicitadas</span> a la doctora Paola Manco</h2>
  <ul>
    <li>
      <img src="{{'img/rinoplastia.jpg' | relative_url }}" alt="Foto de una clienta que hizo una rinoplastia" width="112" height="112">
      <a href="{{'tratamientos-con-tecnologia-de-punta' | relative_url}}">Tecnologías</a>
    </li>
    <li>
      <img src="{{'img/lipo-hd.jpg' | relative_url }}" alt="Foto de una liposucción HD" width="112" height="112">
      <a href="{{'tratamientos-inyectables' | relative_url}}">Inyectables</a>
    </li>
    <li>
      <img src="{{'img/blefaroplastia.jpg' | relative_url }}" alt="Foto de una blefaroplastia" width="112" height="112">
      <a href="{{'cirugias-faciales' | relative_url}}">Faciales</a>
    </li>
    <li>
      <img src="{{'img/resultado-cirugia-1.webp' | relative_url }}" alt="Foto de mamoplastia" width="112" height="112">
      <a href="{{'cirugias-corporales' | relative_url }}">Corporales</a>
    </li>
  </ul>
</section>

<main class="wrapper servicios_home">
  <div class="servicios_titulos">
    <small>Mis servicios profesionales de cirugía en Colombia</small>
    <h2>Con estas cirugías consigue la imagen que deseas sin tanta dificultad</h2>
  </div>
  <div class="servicios_lista">
    <div class="sidebar">
      <ul>
        {% for item in site.data.servicios.items %}
        <li data-target="{{ forloop.index0 }}" class="servicio_item"><h4>{{ item.title }}</h4></li>
        {% endfor %}
      </ul>
    </div>
    <div class="servicios_contenido">
      {% for item in site.data.servicios.items %}
      <div class="content {% if forloop.first %}active{% endif %}" data-content="{{ forloop.index0 }}">
        <img src="{{item.img|relative_url}}" alt="{{item.alt}}">
        <h4>{{ item.title }}</h4>
        <h3>{{item.descripcion}}</h3>
        <p>{{ item.content }}</p>
        <a href="{{site.whatsapp}}" class="boton boton_2">→ Agenda tu cita</a>
        <a href="{{site.telefono}}">+57 304 248 0330</a>
      </div>
      {% endfor %}
    </div>
  </div>
</main>

<aside class="cta">
  <div class="wrapper">
    <div class="cta_text">
      <img src="{{'img/cirugia-logo.svg'|relative_url}}" alt="">
      <h3>Haz tu cirugía corporal o facial con la doctora Paola Manco</h3>
      <p>Mamoplastias, gluteoplastias, rinoplastias, lipoesculturas... todas las cirugías que aumentarán tu bienestar y autoestima</p>
    </div>
    <a href="{{site.whatsapp}}" class="boton boton_1">→ Haz tu consulta</a>
  </div>
</aside>

<section class="ventajas wrapper">
  <img src="{{'img/mujer-operada.webp'|relative_url}}" alt="">
  <div class="flow">
    <small>Beneficios de mis cirugías plásticas</small>
    <h2><span class="resaltar">Haz tu cirugía sin temores</span> junto a la cirujana Paola Manco</h2>
    <p>Me preocupo mucho por mis pacientes. Los escucho, entiendo, asesoro y acompaño hasta el resultado final, aún después de su recuperación.</p>
    <ul class="flow">
      <li><img src="{{'img/resultados.svg'|relative_url}}" alt="Logo de documentos de pacientes exitosos" width="40" height="40"> Cientos de operaciones exitosas</li>
      <li><img src="{{'img/tecnologia.svg'|relative_url}}" alt="Logo de tecnologia médica" width="40" height="40"> Dispositivos de última tecnología</li>
      <li><img src="{{'img/cuerpo.svg'|relative_url}}" alt="Logo de un cuerpo perfecto" width="40" height="40"> Resultados naturales e impactantes</li>
    </ul>
  </div>
  <ul class="flow ventajas_datos">
    <li>
      <span>+100</span>
      <p>resultados exitosos</p>
    </li>
    <li>
      <span>+80</span>
      <p>vidas mejoradas</p>
    </li>
    <li>
      <span>+12</span>
      <p>ténicas profesionales</p>
    </li>
    <li>
      <span>+15</span>
      <p>años de experiencia</p>
    </li>
  </ul>
</section>
<section class="wrapper home_video">
  <div>
    <img src="{{'img/cirujana-paola-manco.webp'|relative_url}}" alt="Doctora Paola Manco">
    <a href="https://www.facebook.com/reel/1332591904133146" class="home_video_cta"><img src="{{'img/play.svg'}}" alt="" width="24px" height="24px"> <span class="resaltar">Mira</span> mi trabajo</a>
  </div>
  <div class="flow home_video_copy">
    <h2>Paola Manco - Cirujana plástica certificada en Colombia</h2>
    <p>Soy profesional. Sigo en constante aprendizaje y especializaciones. Y me identifico por el trato que tú buscas cuando quieres dar un paso tan importante en tu vida y seguridad personal.</p>
    <a href="{{site.whatsapp}}" class="boton boton_2">→ Agenda tu cita</a>
    <a href="{{site.telefono}}">+57 304 248 0330</a>
  </div>
</section>
<hr>
<section class="wrapper flow ejemplos">
  <h2><span class="resaltar">Estas cirugías exitosas</span> pudiera ser tu próxima imagen</h2>
  <p>Mi reputación está respaldada por la cantidad de personas que han mejorado su vida en mi consultorio. <strong>Tú puedes ser mi siguiente logro con tu cirugía exitosa.</strong> Decídete y agenda una consulta.</p>
  <div>
    <h3>Así se verán tus resultados</h3>
    <div>
      {% include carousel.html %}
    </div>
  </div>
</section>
<!-- <section class="testimonios">
  <h2>Las personas que ya <span class="resaltar">lucen un cuerpo excepcional</span> gracias a la cirujana Paola Manco</h2>
  {% include slider.html %}
</section> -->

<section class="about-landing">
  <div class="wrapper footer-landing">
    <div class="flow">
      <h2>Tu elección para una cirugía plástica en Colombia con la cirujana Paola Manco</h2>
      <p>Quienes ya han confiado en mi hablan de mi experiencia y de los resultados obtenidos. La atención detallada y personalizada, antes y después de la cirugía. O los <strong>cambios que han superado sus expectativas</strong>. Mi prioridad es tu satisfacción y bienestar.</p>
      <p>Haz tus deseos realidad y permíteme acompañarte en este proceso hacia la confianza y la belleza que mereces.</p>
      <p>Soy la Dra. Paola Manco. Estarás en manos de una experta dedicada a tu bienestar y satisfacción.</p>
      <p>Haz clic para conocer más sobre cómo podemos ayudarte a alcanzar tus objetivos y sentirte mejor que nunca.</p>
      <a href="#" class="boton boton_2">→ Agenda tu cita</a>
    </div>
    <img src="{{'img/cirujana-paola-manco.webp'|relative_url}}" alt="" >
  </div>
</section>

{% include footer.html %}

<script>
  const listItems = document.querySelectorAll('.sidebar li');
  const contentItems = document.querySelectorAll('.content');

  function showContent(index) {
    listItems.forEach(li => li.classList.remove('active'));
    listItems[index].classList.add('active');

    contentItems.forEach(content => content.classList.remove('active'));
    contentItems[index].classList.add('active');
  }

  listItems.forEach((item, index) => {
    item.addEventListener('click', () => showContent(index));
  });

  // Mostrar el primer contenido y resaltar el primer elemento de la lista al cargar la página
  showContent(0);
</script>

<!-- TESTIMONIOS -->
<script>
  $(document).ready(function() {
  $('.owl-carousel').owlCarousel({
    loop:true,
    nav:false,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:1
        },
        1000:{
            items:1
        }
    }
  })
  });
</script>
<!-- Slider /js -->
<script src="/js/slider.js" defer></script>