<nav>
  <a href="{{site.baseurl}}/" class="logo">
    <img src="{{'img/logo.webp' | relative_url}}" alt="Botón Inicio Paola Manco" height="28" width="19">
    <img src="{{'img/inicio-paola-manco.webp' | relative_url}}" alt="Botón Inicio Paola Manco" width="200" height="28">
  </a>
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="{{site.baseurl}}/">← Inicio</a>
    {% for enlace in site.data.servicios.nav %}
    <a href="{{ enlace.url | relative_url }}" title="{{enlace.title}}">✓ {{enlace.title}}</a>
    {% endfor %}
    <!-- <a href="{{'blog'|relative_url}}" title="Página de blog" class="blog">Blog</a> -->
    <a href="{{'contacto'|relative_url}}" title="Página de contacto" class="contacto">Contáctame</a>
    <img src="{{'img/logotipo.webp'|relative_url}}" alt="Logo de Paola Manco" loading="lazy" width="200" height="80" title="Logo de la doctora Paola Manco">
  </div>
</nav>