.footer{
  background-color: var(--principal);
  box-shadow: 0 0 0 100vmax var(--principal);
  clip-path: inset(0 -100vmax);
  background-image: url("/img/bg.webp");
  color: white;
}

.footer > div:first-child{
  padding-bottom: 4em;
  margin-bottom: 4em;
  border-bottom: 2px dashed whitesmoke;
}

.footer > div{
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  align-items: start;
  justify-content: space-around;
}

@media screen and (max-width: 600px) {
  .footer > div{
    flex-direction: column;
  }
}

.footer > div a{
  color: white;
  display: flex;
  gap: 8px;
  align-items: center;
}

.redes{
  display: flex;
  gap: 1em;
}

.footer_columns{
  width: min(100%, 320px);
  margin-bottom: 2em;
  display: grid;
  place-items: start;
}

.footer_columns li a{
  color: var(--accion);
}

.legal{
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}