.footer > div:first-child{
  padding-bottom: 4em;
  align-items: center;
  border-bottom: dotted 2px var(--principal);
}

.footer > div{
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  align-items: start;
  justify-content: space-around;
}

@media screen and (max-width: 600px) {
  .footer > div{
    flex-direction: column;
  }
}

.footer > div a{
  display: flex;
  gap: 8px;
  align-items: center;
}

.redes{
  display: flex;
  gap: 1em;
}

.footer_columns{
  width: min(100%, 320px);
  margin-bottom: 2em;
  display: grid;
  place-items: start;
}

.legal{
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}