.testimonios{
	width: min(calc(100% - 2rem), 1260px);
  margin-inline: auto;
  padding: 6rem 0 0;
	background-color: var(--acento);
	box-shadow: 0 0 0 100vmax var(--acento);
	clip-path: inset(0 -100vmax);
}

.gallery-slider{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 2em 0;
  width: 100%;
}

@media screen and (min-width: 992px) {
  .gallery-slider{
    flex-wrap: nowrap;
  }  
}

.gallery-slider > span {
	position: absolute;
  background-color: var(--blanco);
  display: grid;
  place-items: center;
  border-radius: 50%;
  padding: 2px;
  z-index: 10;
  cursor: pointer;
}

.gallery-slider span:first-child {
	left: -16px;
}

.gallery-slider span:last-child {
	right: -16px;
}

.gallery-slider .slide-container{
  cursor: pointer;
  overflow: hidden;
  padding: 2rem 0;
  scroll-behavior: smooth;
	width: 100%;
	display: flex;
}

.gallery-slider > img{
  margin-right: 2em;
}

.slide-container.dragging{
  cursor: grab;
  scroll-behavior: auto;
}

.slide-container div{
	background-color: white;
  display: inline-block;
	margin-left: 2em;
  width: min(100%, 520px);
  padding: 3em;
  border: 3.2px solid var(--accion);
  border-radius: 8px;
  box-shadow: var(--shadow);
}

.slide-container div:first-child{
  margin-left: 0;
}

.slide-container div p{
  position: relative;
	width: 480px;
	max-width: 100%;
  margin: 1em 0 0;
}

.slide-container div p::before{
  content: '″';
  position: absolute;
  top: -36px;
  left: -28px;
  font-size: 4em;
  color: var(--principal);
}