:root {

  /*** COLORES ***/
  /* rgb */
  --principal: #39375b;
  --accion: #745C96;
  --secundario: #131414;
  --acento: #94949B;
  --gris1: #0e0f14;
  --gris2: #8c8c8c;
  --gris3: #bebebe;
  --blanco: #fefefe;
  --colorTexto: #0b0d13;
  --shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  --radius: 20px;

  /*** FUENTES ***/
  --fuenteTexto: 'Montserrat', sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html {
  scroll-behavior: smooth;
  line-height: 1.6;
  -webkit-text-size-adjust: 100%;
  scroll-padding-top: 4em;
}

body {
  font-family: var(--fuenteTexto);
  font-size: var(--sizeTexto);
  background-color: var(--blanco);
  color: var(--colorTexto);
  text-rendering: optimizeSpeed;
}

h1, h2, h3, h4, h5{
  font-family: var(--fuenteTexto);
  line-height: 1.24;
}

h1 {
  font-size: clamp(2.2rem, 1.982rem + 1.09vw, 2.8rem);
  margin: 0;
  font-weight: 900;
}

h2 {
  font-size: clamp(1.86rem, 1.678rem + 0.91vw, 2.36rem);
}

h3 {
  font-size: clamp(1.4rem, 1.233rem + 0.84vw, 1.86rem);
}

h4 {
  font-size: clamp(1.16rem, 1.145rem + 0.07vw, 1.2rem);
}

p,
li {
  word-wrap: break-word;
  font-size: clamp(1rem, 0.942rem + 0.29vw, 1.16rem);
}

a {
  text-decoration:none;
  font-weight: 900;
  color: var(--accion);
  transition: all .1s ease-out;
}

a:hover:not(.logo) {
  transform: scale(1.04) rotate(-.8deg);
}

img {
  max-width: 100%;
  height: auto;
}

strong {
  font-weight: 900;
  font-weight: bolder;
}

small {
  font-size: 16px;
}

ul li {
  list-style: none;
  margin: 0 0 0 2em;
}

ol li {
  list-style: decimal !important;
  margin: 0 0 0 2em;
}

::marker {
  color: var(--accion);
  font-size: 1.5em;
}

.blockquote {
  width: min(calc(100% - 2rem), 1260px);
  padding: 2em;
  margin: 4em auto;
  box-shadow: var(--shadow);
  border-radius: var(--radius);
}

.quote {
  font-size: 1.4rem;
  max-width: 732px;
  line-height: 1.4;
  font-style: italic;
}

.author {
  float: right;
  font-size: 1.1rem;
  font-weight: bold;
}

.quote-icon {
  margin-bottom: 10px;
}

.blockquote hr {
  margin-top: 50px;
}


table {
  width: 100%;
  margin: 2em 0 4em;
}

table tr {
  border-bottom: 2px dotted var(--gris1);
  display: flex;
  padding: 1.2em 0;
  flex-wrap: wrap;
  gap: 1em;
  width: 100%;
}

table th {
  font-weight: 900;
}

table td,
table th {
  flex: 1 0 120px;
  max-width: 100%;
  word-wrap: break-word;
  font-size: clamp(1rem, 0.942rem + 0.29vw, 1.16rem);
}

.boton_1 {
  background-color: white;
  border: 2px solid var(--accion);
  color: var(--accion);
}

.boton_2 {
  border: 2px solid var(--accion);
  background-color: var(--principal);
  color: white;
}

.boton {
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em 1.6em;
  display: inline-block;
  border-radius: 6em;
  transition: all .2s;
  font-weight: bold;
}

.boton:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.boton:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.boton::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.boton_1::after {
  background-color: #fff;
}

.boton_2::after {
  background-color: var(--accion);
}

.boton:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

hr {
  border: 0;
  height: 2px;
  background-image: linear-gradient(
    to right,
    rgba(57,55,91, 0),
    rgba(57,55,91, 0.75),
    rgba(57,55,91, 0)
  );
  margin: 0 0 2.4em 0;
}

.wrapper {
  width: min(calc(100% - 2rem), 1260px);
  margin-inline: auto;
  padding: 6rem 0;
}

.contenido {
  width: min(calc(100% - 2rem), 1260px);
  margin-inline: auto;
}

.flow>*+* {
  margin-top: 1em;
}

.boton-whatsapp {
  position: fixed;
  bottom: 8rem;
  right: 12px;
  z-index: 100;
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390,0.575,0.565,1.000) 0.5s 6 alternate-reverse both;
  animation: scale-up-center 0.4s cubic-bezier(0.390,0.575,0.565,1.000) 0.5s 6 alternate-reverse both;
  transition: all .2s ease-in-out;
  width: max-content;
  text-decoration: none;
}

.boton-whatsapp img{
  display: inline;
}

@media screen and (width >=800px) {
  .boton-whatsapp::before {
    content: "Escríbeme";
    font-size: 14px;
    color: white;
    background-color: #2eda2e70;
    border: 3px solid white;
    padding: 8px;
    border-radius: 8px;
  }
}

.boton-whatsapp:hover {
  -webkit-filter: drop-shadow(5px 5px 5px rgba(190, 190, 190, .7));
  filter: drop-shadow(5px 5px 5px rgba(190, 190, 190, .7));
}

.resaltar{
  color: var(--accion);
}


@media screen and (max-width: 440px) {
  .content{
    grid-template-areas:
    "img"
    "h4"
    "h3"
    "p"
    "boton"
    "a";
  }
}

/* background-color: var(--secundario);
box-shadow: 0 0 0 100vmax var(--secundario);
clip-path: inset(0 -100vmax); */