---
layout: compress
---
{% include head.html %}
  <body>
    <!-- <span class="toggle" onclick="openNav()">&#9776;</span> -->
  <!-- Google Tag Manager (noscript) -->
  
  <!-- End Google Tag Manager (noscript) -->
    {{ content }}
  <!-- <a href="#">{% include boton-up.html %}</a> -->
  <a href="{{site.whatsapp}}" class="boton-whatsapp">
    <img src="{{'img/whatsapp-logo.webp'|relative_url}}" alt="Logo de WhatsApp">
  </a>
  </body>
  <!-- <script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "320px";
    }
    
    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
    }
    </script> -->
</html>